# dependencies
node_modules

# cache
.eslintcache

# sync-server
/.github/sync-server.yml

# sync-client
/.husky
/.vscode
/.editorconfig
/.editorconfig-checker.json
/.markdownlint.json
/.markdownlintignore
/.nvmrc
/.prettierignore
/VScode.code-workspace
/eslint.config.mjs
/lint-staged.config.mjs
/prettier.config.mjs
